.dienthoai{
    list-style-type: none;
    display:flex ;
    
    border:2px solid red ;
    border-radius: 10px;
    text-align: center;
}
   
 .trangchu h2{
    background-color: red ;
    border-radius: 10px;
 }
 .dienthoai{
    text-align: center;
    justify-content: space-between;
    justify-content:space-around;
 }
 

.dienthoai li{
    background-color:white;
    border: 3px solid #D3D3D3  ;
    border-radius: 10px;
    
 
 
}

.muangay{
    background-color: white;
    border : 10px solid white ;
    border-right: 120px solid white ;
}

.muangay{
  background-color: rgb(245, 244, 246);
  border : 10px solid white ;
  border-right: 120px solid white ;
}

a{
    text-decoration: none;
}

.menu-dt li a, .dropbtn {
  display: inline-block;
  color:#f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu-dt li a:hover, .dropdown:hover .dropbtn {
  background-color:#f8f1f1;
}
.menu-dt li.dropdown {
  display: inline-block;
}
.menu-dt .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
.menu-dt .dropdown-content a {
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.menu-dt .dropdown-content a:hover {
  background-color:aqua;
}
.menu-dt .dropdown:hover .dropdown-content {
  display: block;
  
}
.menu-dt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(255, 7, 7);
    padding: 10px;
  }
  
  .menu-dt ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menu-dt li {
    margin: 0 10px;
  }
  
  .menu-dt a {
    color: white;
    text-decoration: none;
  }
  
  .menu-dt a:hover {
    color: black
    ;
  }
  
  .tim-kiem {
    display: flex;
    align-items: center;
  }
  
  .tim-kiem input {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
  }
  
  .tim-kiem button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: red;
    color: white;
    cursor: pointer;
  }
  
  .tim-kiem button:hover {
    background-color: white;
    color: red;
  }
  
  
  .fa {
    font-family: FontAwesome;
  }
 
  
  ket{
    color:#ccc;
    
  }
  .ket ul  {
    background-color: white;
    display:flex;
    justify-content: space-between;
    border-left: 20px solid white;
    border-right: 100px solid white;
  }
  